[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule ".vim/bundle/vim-go"]
	path = .vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule ".vim/bundle/vim-json"]
	path = .vim/bundle/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule ".vim/bundle/solarized"]
	path = .vim/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/gruvbox"]
	path = .vim/bundle/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule ".vim/bundle/neosnippet.vim"]
	path = .vim/bundle/neosnippet.vim
	url = https://github.com/Shougo/neosnippet.vim.git
[submodule ".vim/bundle/neocomplete.vim"]
	path = .vim/bundle/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule ".vim/bundle/neosnippet-snippets"]
	path = .vim/bundle/neosnippet-snippets
	url = https://github.com/Shougo/neosnippet-snippets.git
[submodule ".vim/bundle/tabular"]
	path = .vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
