[user]
	email = sean@soundcloud.com
	name = Sean Treadway
[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
	gemver = !v=`ruby -e \"puts eval(File.read(Dir.glob(%(*.gemspec)).first)).version.to_s\"` && git tag -a v$v -m \"tagging v$v\"
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[merge]
	tool = vimdiff
[push]
	default = tracking
[apply]
	whitespace = nowarn
[github]
	user = streadway
[credential]
	helper = osxkeychain
[url "git@github.com:soundcloud"]
	insteadOf = https://github.com/soundcloud
[gist]
	private = yes
[diff]
	tool = vimdiff
[http]
	cookiefile = /Users/sean/.gitcookies
[core]
	excludesFile = ~/.dotfiles/gitignore
